*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
h1,h3{
    color:hsl(210, 10%, 33%);
    margin-bottom: 30px;
}
h1{
    margin-top: 8rem;
    font-size: 35px;
}
p{
    color: hsl(201, 11%, 66%);
    line-height: 30px;
}
header{
    background: url("./images/bg-header-desktop.png")no-repeat;
    margin-top: 2px;
    height: 363px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo{
    height: 125px;
    width: 125px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top h1:first-child{
    font-size: 40px;
    margin-top: -3rem;
}
button{
    margin-top: 40px;
    margin-bottom: 2rem;
    height: 45px;
    width: 180px;

    font-weight: 600;
    color: white;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}
button.ios{
    background:hsl(171, 66%, 44%);
    box-shadow: 0px 3px 0px 5px rgba(6, 255, 234, 0.089);
}
button.mac{
    margin-left: 10px;
    background: hsl(233, 100%, 69%);
    box-shadow: 0px 2px 0px 2.5px rgba(0, 16, 245, 0.066);
}
button.ios:hover{
    background:hsl(171, 66%, 54%);
}
button.mac:hover{
    background: hsl(233, 100%, 75%);
}
.comp{
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.comp img{
    margin-left: -35px;
}
.info_comp{
    padding: 0rem 9rem;

}
.info_comp h3:first-child{
    margin-top: 0;
}
.info_comp h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 0.8rem;
}
.devices{
    margin-top: 6rem;
    margin-bottom: -2rem;
}
.fixes{
    padding: 5rem 0rem;
    display: flex;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 1.5rem;
}
.icons_empresas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons_empresas img{
    padding: 4rem 2.7rem;
}

/*Footer*/
footer{
    height: 140px;
    width: 100%;
    background: hsl(201, 11%, 95%);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;

    margin-top: 9rem;
}
footer .logo{
    height: 50px;
}
.links{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    line-height: 30px;
    margin-left: -60px;
}

.links a{
    padding-left: 50px;
    
    color: hsl(201, 11%, 52%);
    font-weight: 500;
    text-decoration: none;
}
.links a:hover{
    color:hsl(171, 66%, 44%);
}
.social{
    color: hsl(201, 11%, 36%);
    display: flex;
    justify-content: space-between;

    width: 100px;
    font-size: 24px;
}
.social i:hover{
    color: hsl(171, 66%, 44%);
    cursor: pointer;
}
.attribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px; text-align: center;
}
.attribution a {
    color: hsl(171, 66%, 44%);
    text-decoration: none;
}
@media(max-width:1050px){
    .info_comp{
        padding: 0rem 0rem 0 1rem;
    
    }
    .comp img{
        width: 620px;
    }
    img.devices {
        width: 750px;
    }
    .icons_empresas img{
        padding: 4rem 0.6rem;
    }
    footer{
    
        padding: 0rem 2rem;
    }

}
@media(max-width:800px){
    body{
        text-align: center;
    }
    header{
        background: url("./images/bg-header-mobile.png")no-repeat;
        background-size: 100%;
    }
    .comp{
        flex-direction: column;
    }
    .info_comp{
        margin-top: 4rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .comp img{
        margin-left: 0px;
    }
    .info_comp h3{
        font-size: 25px;
        font-weight: 700;
    }
    .fixes{
        flex-direction: column;
    }
    .list{
        padding-top: 30px;
    }
    .icons_empresas{
        flex-direction: column;
    }.comp img{
        width: 500px;
    }
    img.devices {
        width: 500px;
    }
    .links a{
        padding-left: 10px;
    }
    .icons_empresas img{
    padding: 2.5rem 0rem;
    }
    footer{
        padding: 0rem 0rem;
    }
}
@media(max-width:690px){
    footer{
        display: flex;
        flex-direction: column;
        height: 440px;
    }
    .links{
        display: flex;
        flex-direction: column;
        height: 200px;
        line-height: 35px;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
    }
    .links a{
        padding-left: 0px;
    }
    footer .logo{
        margin-top: 31px;
        height: 50px;
    }
    .attribution {
      padding-top: 5px;
    }

}
@media(max-width:500px){
    
    .comp img{
        width: 390px;
    }
    img.devices {
        width: 400px;
    }
    button{
        margin-bottom: 1rem;
        height: 60px;
        width: 340px;

        font-size: 20px;
        font-weight: 700;
    }
}