@media(max-width:1050px){
    
    .comp{
        img{
            width: 38.75rem;
        }
        .info_comp{
            padding: 0rem 0rem 0 1rem;
        
        }
       
    }
    img.devices {
        width: 46.87rem;
    }
    .icons_empresas img{
        padding: 4rem 0.6rem;
    }
    footer{
    
        padding: 0rem 2rem;
    }

}
