@media(max-width:500px){
    
    .comp{
        img{
            width: 24.37rem;
        }
    }
    img.devices {
        width: 25rem;
    }
    button{
        margin-bottom: 1rem;
        height: 3.75rem;
        width: 21.25rem;

        font-size: 20px;
        font-weight: 700;
    }
}