.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1:first-child{
        font-size: 2.5rem;
        margin-top: -3rem;
    }

        
}